/*
* A simplified "hello world" filter
*/
(function(){

	var myFilter = {};

	// If your filter has a startup do it here.
	// This is optional.
	myFilter.init = function ( pxSiv ) {
		// Let's save pxSiv to the local scope.
		myFilter.pxs = pxSiv;
		// It's not about the money, it's about sending a message.
		console.log( __filename+' ran myFilter.init() - Hello Filter!' );
	};

	// This is called per request to be filtered.
	// Be careful to keep it non-blocking!!!
	// This is required!!!
	myFilter.filter = function ( req, resp ) {
		if ( resp.statusCode >= 400 ) {
			// Already an error status, skip filtering.
			return false;
		}
		// req.pxsData is put into the DB after the filters run without a status >= 400.
		// To abort saving the data to the DB, set resp.statusCode >= 400.
		// Note that aborting will also abort remaining filters and may result in a client-side error.
		req.pxsData['myFilter'] = 'Woohoo!';
		console.log( __filename+' - Filtering data! Woohoo!', req.url );
	};

	// This is required!!!
	exports.pxsFilter = myFilter;

})();